@import "tailwindcss";

:root {
  --background: #01ee94;
  --foreground: #171717;
}

@theme inline {
  --font-circe:
    var(--font-circe), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
